<mat-card>
  <div class="header">
    <mat-icon>bar_chart</mat-icon>
    <span>Most anomalies on asset</span>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="barChartData">
      <div>
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
