<mat-card *ngIf="intervention">
  <div class="header">
    <mat-icon>build</mat-icon>
    <span
      >Intervention from <strong>{{ intervention.date.toDate() | date: 'dd/MM/yyyy' }}</strong></span
    >
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <section fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px">
      <span class="label" fxFlex="210px" fxFlex.sm="auto" fxFlex.xs="auto">Summary</span>
      <div class="content" fxFlex="calc(100% - 250px)" fxFlex.sm="auto" fxFlex.xs="auto">
        {{ intervention.summary }}
      </div>
    </section>

    <mat-divider></mat-divider>

    <section fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px">
      <span class="label" fxFlex="210px" fxFlex.sm="auto" fxFlex.xs="auto">Anomaly status</span>
      <div class="content" fxFlex="calc(100% - 250px)" fxFlex.sm="auto" fxFlex.xs="auto">
        <button [matMenuTriggerFor]="statusMenu" dashboardAnomalyStatus [status]="intervention.anomaly.status"></button>
        <mat-menu #statusMenu="matMenu">
          <button
            *ngFor="let status of statusList"
            mat-menu-item
            [ngClass]="status.name"
            (click)="onStatusChange(status.name)"
          >
            <span>{{ formatSatusName(status.name) }}</span>
          </button>
        </mat-menu>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px">
      <span class="label" fxFlex="210px" fxFlex.sm="auto" fxFlex.xs="auto">Indicator</span>
      <div class="content indicator" fxFlex="calc(100% - 250px)" fxFlex.sm="auto" fxFlex.xs="auto">
        <span (click)="openIndicatorModal()">
          <fa-icon [icon]="intervention.anomaly.indicator.icon"></fa-icon>
          {{ intervention.anomaly.indicator.name }}
        </span>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px">
      <span class="label" fxFlex="210px" fxFlex.sm="auto" fxFlex.xs="auto">Criticity</span>
      <div class="content criticity" fxFlex="calc(100% - 250px)" fxFlex.sm="auto" fxFlex.xs="auto">
        <mat-slider
          class="example-margin"
          [max]="100"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [value]="intervention.anomaly.criticity"
          (change)="onCriticityChange($event)"
        >
        </mat-slider>

        {{ intervention.anomaly.criticity }}
      </div>
    </section>
  </mat-card-content>
</mat-card>
