<mat-card class="example-card" *ngIf="intervention">
  <div class="header">
    <mat-icon>build</mat-icon>
    <span
      >Intervention from <strong>{{ intervention.date.toDate() | date: 'dd/MM/yyyy' }}</strong></span
    >
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <section>
      <span class="label">Summary</span>
      <div class="content">{{ intervention.summary }}</div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <span class="label">Anomaly status</span>
      <div class="content">
        <button [matMenuTriggerFor]="statusMenu" dashboardAnomalyStatus [status]="intervention.anomaly.status"></button>
        <mat-menu #statusMenu="matMenu">
          <button
            *ngFor="let status of statusList"
            mat-menu-item
            [ngClass]="status.name"
            (click)="onStatusChange(status.name)"
          >
            <span>{{ formatSatusName(status.name) }}</span>
          </button>
        </mat-menu>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <span class="label">Anomaly criticity</span>
      <div class="content">
        <mat-slider
          class="example-margin"
          [max]="100"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          [value]="intervention.anomaly.criticity"
          (change)="onCriticityChange($event)"
        >
        </mat-slider>
      </div>
    </section>
  </mat-card-content>
</mat-card>
