div.header {
  margin-bottom: 10px;

  mat-icon {
    display: inline-block;
    border-radius: 30px;
    padding: 8px;
    background: #85b6da;
  }

  span {
    position: relative;
    top: -7px;
    left: 8px;
    font-size: 16px;
  }
}

mat-card-content {
  section {
    display: flex;
    padding: 20px;

    span.label {
      font-weight: 500;
      margin-right: 25px;
      width: 280px;

      &:after {
        content: ':';
      }
    }
  }
}

button[mat-menu-item] {
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 24px;
    margin-right: 8px;
  }

  &.pending,
  &.created {
    &:before {
      background: #e23535;
    }
  }

  &.in_progress {
    &:before {
      background: #24292d;
    }
  }

  &.resolved {
    &:before {
      background: #41b771;
    }
  }
}
