<section class="asset-title" *ngIf="asset$ | async as asset">
  <div class="asset-image"></div>
  <h2>
    {{ asset.name }} <span>{{ asset.clientName }}</span>
  </h2>
</section>

<table mat-table [dataSource]="interventions$ | async" class="mat-elevation-z8">
  <!-- Intervention Date Column -->
  <ng-container matColumnDef="intervention_date">
    <th mat-header-cell *matHeaderCellDef>Intervention date</th>
    <td mat-cell *matCellDef="let intervention">
      <span class="date">{{ intervention.date.toDate() | date: 'dd-MM-yyyy' }}</span>
    </td>
  </ng-container>

  <!-- Anomaly Column -->
  <ng-container matColumnDef="anomaly">
    <th mat-header-cell *matHeaderCellDef>Anomaly</th>
    <td mat-cell *matCellDef="let intervention">#{{ intervention.anomaly }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
