<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Asset name</mat-card-title>
    <mat-card-subtitle>Client name</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9BTZNXEcrnAWXc1JzRHFAQUB99ppSXZOO9Rvueu2aS8vKYoQZ" alt="Asset name">
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Intervention date</mat-list-item>
      <mat-list-item role="listitem">Anomaly ref</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
