table {
  width: 100%;
  margin-top: -54px;
}

input {
  position: relative;
  top: 0px;
  margin: 1px;
  height: 41px;
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 20px;
  font-size: 15px;
}
